<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Adiciona Link no Menu</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      {{#if errors }}
          <p class="alert alert-danger"> Falta coisa: {{ this.errors }}</p>
      {{/if}}
      {{#if success }}
        <p class="alert alert-danger"> Registro inserido com sucesso!! {{ this.success }}</p>
      {{/if}}
      <div class="panel panel-primary">
        <div class="panel-heading">
           Adiciona link no Menu
        </div>
        <div class="panel-body">
          <form method="post" action="/formincluir/post">
            <div class="form-group">
              <label class="col-md-4">URL do Link </label>
              <input type="text" class="form-control" name="url" placeholder="Informe a URL"/>
            </div>
            <div class="form-group">
              <label class="col-md-4">Nome do Link</label>
              <input type="text" class="form-control" name="nome" placeholder="Informe nome do link"/>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Enviar</button>
                <a href="/" class="btn btn-primary">Home</a>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class='container'>
     <div show class="panel panel-primary">
        <div class="panel-heading">
          Excluir Link
        </div>
      <div class="panel-body">
        <div class="list-group">
        {{#if listar }}
        {{#listar}}
          <a href="#" class="list-group-item">Nome: {{ nome_url }} URL: {{ url_url }} ID: {{ id_nav }}</a>       
        {{/listar}}
        {{/if}}
        </div>
      </div>
      </div>
    </div>
    </div>
  </body>
</html>